@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*LEGEND

Yellow: #fed402;
Dark blue: #10143e;
Light blue: #1ca4d6;
font-family: 'Righteous', cursive;
font-family: 'Open Sans', sans-serif;

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #10143e;
}

h1 {
  font-family: 'Righteous', cursive;
  color: #fed402;
  font-size: 65px;
}

h2 {
  font-family:'Open Sans', sans-serif;
  /*color: #1ca4d6;*/
  font-size: 30px;
  color: #1ca4d6;
  font-weight: normal;
}

#title {
  width: 100%;
  padding: 40px;
}

#dashboard {
  width:80%;
  /*background-color: red;*/
  display: inline-block;
  margin-left: 2.5%;
}

#navigation {
  width:15%;
  background-color: white;
  display: inline-block;
  height:637px;
  float: left;
  margin-left: 2.5%;
  padding: 20px;
}

#dashboard section {
  width:30%;
  height:300px;
  background-color:#1ca4d6;
  display: inline-block;
  margin-bottom: 2.5%;
  position: relative;
}

.draggable {
  min-width: 50px;
  min-height: 50px;
}

.ui-resizable-se {
  width: 0px;
  height: 0px;
  border-style:solid;
  border-color:#fed402;
  border-width: 0 0 10px 10px;
  background: none;
  display: inline-block;
  float: right;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

.margin {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#dashboard h2 {
  font-family: 'Righteous', cursive;
  color:#fed402;
  font-size: 40px;
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold;
}

p {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  color: #10143e;
  margin: 0px 20px 12px 20px;
  width: 60%;
  display: inline-block;
}

h3 {
  text-transform: uppercase;
  color:#1ca4d6;
  font-family: 'Righteous', cursive;
  letter-spacing: 1px;
  font-size: 24px;
}

h4 {
    font-weight: normal;
    color: #10143e;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
}

#profile {
  margin-bottom: 20px;
}


button {
  cursor: pointer;
  background-color: #fed402;
  padding:5px;
  width: 40%;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 14px;
}

.profileheader {
  margin-top: 15px;
  font-weight: bold;
}

.buttonleft {
  margin-left: 10px;
}

.buttonright {
  margin-left: 5px;
}

h3 {
  margin-bottom: 10px;
}

img {
  width:100px;
}
