@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*LEGEND

Yellow: #fed402;
Dark blue: #10143e;
Light blue: #1ca4d6;
font-family: 'Righteous', cursive;
font-family: 'Open Sans', sans-serif;

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #10143e;
}

h1 {
  font-family: 'Righteous', cursive;
  color: #fed402;
  font-size: 65px;
}

h2 {
  font-family:'Open Sans', sans-serif;
  /*color: #1ca4d6;*/
  font-size: 30px;
}

#title {
  width: 100%;
  padding: 40px;
}

section {
  width:16.45%;
  height:300px;
  background-color:#fed402;
  display: inline-block;
}

.draggable {
  min-width: 50px;
  width: 100px;
  min-height: 50px;
  height: 100px;
  background: #EEE;
  border: 1px solid #AAA;
}

.ui-resizable-se {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 16px 16px;
  border-color: transparent transparent #AAA transparent;
  background: none;
}
