
/*#xray, #psychologist, #heartrate, #workout, #pharmacy {
  z-index: -1;
}*/

#diagnosis-reveal {
  background-color: red;
  z-index: 2;
  display: none;
  margin-left: 20px;
}

.p-diagnosisreveal {
  color: white;
  font-size: 24px;
}

.redbkg {
  background-color: red;
}

.svg {
  width:200px;
  float: right;
  margin-right:15px;
  margin-top: -110px;
}

#chart {
  margin-top: 100px;
  color:white;
  font-weight:bold;
}

#possible-diagnoses {
  width: 500px;
  font-size: 21px;
  display: inline-block;
  float: right;
  position: fixed;
  margin-top: 135px;
  margin-left: 50px;
}

#possible-diagnoses h3{
  color:yellow;
}

#chartValue1, #chartValue2, #chartValue3 {
  color:yellow;
  font-size: 40px;
  font-weight:bold;
}

#chartDiagnosis1, #chartDiagnosis2, #chartDiagnosis3 {
  color:white;
  margin-bottom: 10px;
}

.delete {
  font-size: 100px;
  display: none;
  margin-top: -200px;
  position: fixed;
}

#dragdrop {
    display: none;
}

#dragdrop h4 {
  font-family: 'Righteous', cursive;
  color:yellow;
  font-size: 28px;
  margin-top: 200px;
}

#remove {
  font-size:21px;
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-weight: normal;
  width: 600px;
  display:inline-block;
  margin-left: 40px;
  margin-top: 40px;
}
