
/*#xray, #psychologist, #heartrate, #workout, #pharmacy {
  z-index: -1;
}*/

#diagnosis-reveal {
  background-color: red;
  z-index: 2;
  display: none;
  margin-left: 20px;
}

.p-diagnosisreveal {
  color: white;
  font-size: 24px;
  width:400px;
}

.redbkg {
  background-color: red;
}
