* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

  canvas {
  z-index: 1;
}

#webcam {
  width:61.9%;
  height: 100vh;
}

  video {
    z-index: -100;
    position: absolute;
    height:100vh;
    -webkit-filter: hue-rotate(180deg);
  }
