* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: yellow;
}

canvas {
  z-index: 1;
}

#webcam {
  width:61.9%;
  height: 100vh;
  display: inline-block;
}

  video {
    z-index: -100;
    position: absolute;
    height:100vh;
    -webkit-filter: hue-rotate(180deg);
  }

#login {
  width:38.1%;
  background-color: yellow;
  display: inline-block;
  float: right;
  height: 100vh;
}

#scanning {
  display: none;
}
