.speech-bubble, button {
  background-color: rgb(0, 136, 22);
}

textarea {
  color:rgb(0, 136, 22);
}

.speech-bubble:after{
  border-top-color: rgb(0, 136, 22);
}

.responses {
  background-color:rgb(21, 170, 45);
}

@-webkit-keyframes squareToCircle {
    0% {
      border-radius: 0 0 0 0;
      background: rgb(21, 170, 45);
      transform: rotate(0deg);
    }
    25% {
      border-radius: 50% 0 0 0;
      background:rgb(11, 85, 23);
      transform: rotate(45deg);
    }
    50% {
      border-radius: 50% 50% 0 0;
      background: red;
      transform: rotate(90deg);
    }
    75% {
      border-radius: 50% 50% 50% 0;
      background: rgb(45, 208, 71);
      transform: rotate(135deg);
    }
    100% {
      border-radius: 50% 50% 50% 50%;
      background: rgb(71, 232, 97);
      transform: rotate(180deg);
    }
}
