* {
  margin: 0;
  padding: 0;
}

body {
  width:85%;
  margin: 0 auto;
}

#square {
  width:200px;
  height:200px;
  background-color: pink;
  margin-right:15px;
  margin-bottom: 15px;
  display: inline-block;
  font-size: 30px;
}
