* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(23, 0, 65);
}

.doors {
  width:35%;
  height: 100vh;
  background-color: rgb(217, 27, 56);
  display: inline-block;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 84, 84);
}

#twodoors {
  margin-left:22.5%;
}
