.speech-bubble, button {
  background-color: rgb(119, 0, 161);
}

textarea {
  color:rgb(119, 0, 161);
}

.speech-bubble:after{
  border-top-color: rgb(119, 0, 161);
}

.responses {
  background-color:rgb(154, 15, 152);
}

@-webkit-keyframes squareToCircle {
    0% {
      border-radius: 0 0 0 0;
      background: rgb(119, 0, 161);
      transform: rotate(0deg);
    }
    25% {
      border-radius: 50% 0 0 0;
      background:rgb(53, 7, 75);
      transform: rotate(45deg);
    }
    50% {
      border-radius: 50% 50% 0 0;
      background: red;
      transform: rotate(90deg);
    }
    75% {
      border-radius: 50% 50% 50% 0;
      background: rgb(206, 88, 247);
      transform: rotate(135deg);
    }
    100% {
      border-radius: 50% 50% 50% 50%;
      background: rgb(223, 139, 252);
      transform: rotate(180deg);
    }
}
