@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(../img/wallpaper.jpg) no-repeat top fixed;
	background-size: cover;
  font-family: 'Muli', sans-serif;
	}

#coffeecounter {
  background-color:rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  display: none;
  display: block;
  float: right;
  font-size:12px;
  padding: 20px;
  margin: 30px;
  cursor: pointer;
}

#coffeecounter h1 {
  float: right;
  width: 300px;
}

#counter {
  font-size: 100px;
  display:block;
  float: left;
  margin-right: 30px;
  margin-left: 10px;
}

.speech-bubble {
  background: #ff5400;
  color: #ffe0d0;
  display: inline-block;
	font-size: 14px;
	position: relative;
	vertical-align: top;
		width: 30em;
    display: inline-block;
  margin: 40px;
  display: none;
}

.speech-bubble:after {
	border: 1.5em solid transparent;
	border-top-color: #ff5400;
	content: '';
	margin-left: -2em;
	position: absolute;
		top: 100%;
		left: 50%;
	width: 0;
	height: 0;
    display: inline-block;
}

.speech-bubble section {
  width: 18em;
  display: inline-block;
  float: right;
  margin-top: 10px;
  padding: 10px;
  padding-right: 20px;
}

.speech-bubble img {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.speech-bubble h1 {
  font-size: 18px;
}

.speech-bubble p {
  font-size:14px;
  line-height: 18px;
  font-weight: normal;
  margin-top: -7px;
}

.reply {
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
}

textarea {
  background: #fff;
  color: #ff5400;
  font-size: 14px;
  position: relative;
  width: 27em;
  height:150px;
  margin-left: 40px;
  font-family: 'Muli', sans-serif;
  padding: 20px;
  line-height: 20px;
  outline: none;
  border: none;
  display: none;
}

button {
  width: 31.5em;
  background-color:#ff5400;
  padding: 20px;
  margin-left: 40px;
  font-family: 'Muli', sans-serif;
  color:#fff;
  outline: none;
  border: none;
  font-weight: bold;
  display: none;
  cursor: pointer;
}

.responses {
  width:300px;
  height:auto;
  background-color: red;
  display: block;
  padding: 10px;
  color:#fff;
  margin-bottom: 10px;
  cursor: pointer;
}

#float {
  position: fixed;
  margin-left:500px;
  margin-top: -240px;
  display: none;
}

#one {
  background-color: blue;
}

.input{
  display: inline-block;
}

#holder {
  position: absolute;
  margin-top: -500px;
  font-weight: bold;
}

.animate {
  -webkit-animation: squareToCircle 2s 1s infinite alternate;
}

@-webkit-keyframes squareToCircle {
    0% {
      border-radius: 0 0 0 0;
      background: coral;
      transform: rotate(0deg);
    }
    25% {
      border-radius: 50% 0 0 0;
      background: darksalmon;
      transform: rotate(45deg);
    }
    50% {
      border-radius: 50% 50% 0 0;
      background: indianred;
      transform: rotate(90deg);
    }
    75% {
      border-radius: 50% 50% 50% 0;
      background: lightcoral;
      transform: rotate(135deg);
    }
    100% {
      border-radius: 50% 50% 50% 50%;
      background: darksalmon;
      transform: rotate(180deg);
    }
}
